.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.symbols__container {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  line-height: 0.8rem;
}

.ascii__container {
  font-size: 0.4rem;
  position: relative;
}

.text__container {
  position: fixed;
  width: 200%;
  height: 100vh;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  overflow: hidden;
}

@media (width <= 68.75rem) {
  /* For tablets and below */
  .text__container {
    left: -150%;
    font-size: 0.4rem;
    width: 250%;
  }
}

@media (width >= 93.75rem) {
  /* for large screens and above */
  .text__container {
    left: -100%;
    font-size: 0.8rem;
    width: 225%;
  }
}

.text {
  width: 300%;
  opacity: 0;
}

.hiddenChar {
  opacity: 0;
}

.loader__container {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}
