.container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  min-width: 100%;
  color: var(--color-primary);
  font-family: var(--font-open);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  background-image: url('../../app/images/background/loader.webp');
  background-color: var(--color-secondary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

.ascii__container {
  font-size: 0.4rem;
  display: grid;
  place-content: center;
  height: 100vh;
}

.text {
  width: 300%;
  opacity: 0;
}

.hiddenChar {
  opacity: 0;
}

.loader__container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 9999;
}

/* overlays */
.container__overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-open);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 1000;

  /* z-index: 5; */
}

.ascii__container__overlay {
  font-size: 0.4rem;
  position: relative;
  color: var(--color-primary);
}

.text__container__overlay {
  position: fixed;
  width: 150%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 4vh;
  overflow: hidden;
  color: var(--color-primary);
}

/* For mobile */
@media (width <= 34.37rem) {
  .text__container__overlay {
    font-size: 2vh;
  }
}

.text__overlay {
  width: 300%;
  opacity: 1;
}

.hiddenChar__overlay {
  opacity: 1;
}
