.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  gap: 4rem;
  padding: var(--base-padding-desktop);
}

@media (width <= 68.75rem) {
  /* For desktop and below */
  .container {
    padding: 34px 8px 34px 24px;
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-title);
  font-family: var(--font-open);
  font-weight: 450;
  text-wrap: balance;
  overflow: hidden;
}

.title span {
  display: inline-block;
  position: relative;
}

.date {
  overflow: hidden;
  font-weight: 400;
}

.date span {
  display: inline-block;
  position: relative;
}

.main {
  overflow: hidden;
}

.main p {
  display: inline-block;
  position: relative;
}

.footer__title p {
  font-size: 1.4rem;
  font-weight: 450;
  font-family: var(--font-open);
  overflow: hidden;
}

.footer__title p span {
  display: inline-block;
  position: relative;
}
