/* overlays */
.container__overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-open);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 1000;
}

.ascii__container__overlay {
  font-size: 0.5rem;
  position: relative;
}

.text__container__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 4vh;
  overflow: hidden;
}

@media (width >= 93.75rem) {
  /* for large screens and above */
  .text__container__overlay {
    font-size: 4vh;
    width: 225%;
  }
}

.text__overlay {
  width: 300%;
  opacity: 1;
}

.hiddenChar__overlay {
  opacity: 1;
}
