.welcome {
  --rounded-lg: 8px;
  --rounded-md: 4px;

  min-height: 100vh;
  color: var(--text-color);
  padding: 72px 46px;
  z-index: 1;
  font-family: var(--font-bitter);

  /* background: var(--background-color); */
}

.title {
  font-size: 1.4rem;
  font-family: var(--font-open);
}

.subtitle p {
  font-weight: 370;
}

.subtitle .authorPic {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.links .blog_post_netart_image {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.blog_post_netart_text {
  position: relative;
  z-index: 2;
}

.subtitle .underline {
  text-decoration: underline;
}

.subtitle .underline:hover {
  color: var(--color-blue);
}

.description {
  padding-top: 4rem;
}

.links {
  padding-top: 4rem;
}

.links li {
  text-decoration: underline;
  list-style-position: inside;
  z-index: 2;
}

.links li a h2:hover {
  /* font-size: 15px; */
  color: var(--color-blue);
}

.links li h2 {
  display: inline;
}

.info {
  padding-top: 4rem;
}

.info .author_name {
  font-weight: 450;
}

.info .author_description {
  font-weight: 350;
}

.info .author_email {
  font-weight: 350;
}
