/* stylelint-disable media-feature-range-notation */
.welcome {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  --rounded-lg: 8px;
  --rounded-md: 4px;

  min-height: 100vh;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: var(--base-padding-desktop);
  z-index: 1;
}

@media (max-width: 68.75rem) {
  /* For tablets and below */
  .welcome {
    padding: var(--base-padding-mobile);
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.titles {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-title);
  font-family: var(--font-open);
  font-weight: 450;
  overflow: hidden;
}

.title span {
  display: inline-block;
  position: relative;
}

.subtitle {
  font-weight: 380;
  overflow: hidden;
  z-index: 3;
}

.subtitle div {
  display: inline-block;
  position: relative;
}

.authorPic {
  visibility: hidden;
  position: fixed;
  top: -1.6rem;
  right: 0;
  width: 20%;
  z-index: 2;
}

/* larger screens */
@media (min-width: 68.75rem) {
  .authorPic {
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }

  .authorPic img {
    object-fit: cover;
    position: absolute;
    height: 100vh;
    width: auto;
    right: 0;
  }
}

.posts__links .blog_post_image {
  visibility: hidden;
  position: fixed;
  right: 2.6rem;
  z-index: 4;
  width: 35%;
  top: 3rem;
}

/* Assuming --breakpoint-laptop: 93.75rem; and --breakpoint-tablet: 68.75rem; are equivalent to 1500px and 1100px respectively */

@media (max-width: 68.75rem) {
  /* For tablets and below */
  .posts__links .blog_post_image {
    width: 30%;
    top: 72px;
  }
}

/* for larger screens */
@media (min-width: 68.75rem) {
  .posts__links .blog_post_image {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }

  .posts__links .blog_post_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.subtitle .underline {
  text-decoration: underline;
}

.subtitle .underline:hover {
  color: var(--color-blue);
}

.description {
  overflow: hidden;
  font-weight: 380;
}

.description p {
  display: inline-block;
  position: relative;
}

.posts__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 450;
}

.posts__links__item li {
  display: flex;
  gap: 1rem;
}

.posts__links__item a:hover {
  color: var(--color-blue);
}

.posts__links__item__title {
  text-decoration: underline;
}

/* larger screens */
@media (min-width: 68.75rem) {
  .posts__links__item__title {
    z-index: 5;
  }
}

.posts__links__item__decoration {
  font-size: 0.5rem;
  padding-top: 0.4rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer div {
  overflow: hidden;
}

.footer .author_name {
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.footer .author_description {
  font-weight: 380;
  display: inline-block;
  position: relative;
}

.footer .author_email {
  font-weight: 380;
  display: inline-block;
  position: relative;
}

.footer__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
