.cursor {
  width: 1.6rem;
  height: 1.6rem;
  position: fixed;
  pointer-events: none;
  z-index: 99999;
  transform: translate(-20%, -10%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    transform 0.05s linear;
}

.cursor__pointer {
  width: 1.6rem;
  height: 1.6rem;
}

.cursor__hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.02s ease,
    visibility 0.02s ease;
}

.cursor__spread {
  width: 2.4rem;
  height: 2.4rem;
}

.cursor__grab {
  width: 2.6rem;
  height: 2.6rem;
}

@media (width <= 768px) {
  .cursor {
    display: none;
  }
}
