.container {
  position: relative;
  min-height: 100vh;
}

.content {
  position: relative;
  min-height: 150vh;
}

.imageContainer {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.imageContainer img {
  object-fit: cover;
}

.overlay {
  position: relative;
  z-index: 101;
  height: 100%;
}

.title {
  font-size: var(--font-size-6);
  font-weight: 500;
  padding-bottom: var(--space-xl);
  letter-spacing: 0.4rem;
}

.subtitle {
  font-weight: 450;
  text-wrap: balance;
  padding-bottom: var(--space-xl);
  text-align: start;
  font-size: var(--font-size-1);
  max-width: 50%;
}

@media (width <= 68.75rem) {
  .subtitle {
    max-width: 100%;
  }
}

.list {
  list-style: none;
  padding: 0;
  padding-bottom: var(--space-xl);
}

.listItem {
  margin-bottom: 2rem;
}

.listItem a {
  text-decoration: underline;
  text-decoration-color: var(--color-green-2);
  text-underline-offset: 0.3ex;
  text-decoration-thickness: 0.3ex;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.listItem a:hover {
  color: var(--color-green-2);
  text-decoration: none;
}

.listItem .decoration {
  color: var(--color-white);
}

.listItem span {
  font-style: italic;
  color: var(--color-gray);
}

.description {
  font-size: var(--font-size-regular);
  padding-bottom: var(--space-md);
  max-width: 50%;
  padding-top: var(--space-xxxs);
  font-family: var(--font-bitter);
  line-height: 1.5;
}

/* mobile and tablet  */
@media (width <= 68.75rem) {
  .description {
    max-width: 100%;
  }
}
