/* stylelint-disable scss/operator-no-newline-after */
@use 'sass:map';
@use 'sass:math';
@import './helpers';
@import './reset.css';

:root {
  // Typography
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;

  // Colors
  --inspect-color: #f00;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #0f0f0f;
  --color-gray-lighter: #262626;
  --color-blue: #0038ff;
  --color-green: #42ff00;
  --color-light-green: #e8ffe7;
  --color-primary: #e7e7e7;
  --color-secondary: #27272a;
  --color-pink: #fb65c1;
  --color-yellow: #f1b401;
  --color-orange: #ec8624;

  // Duration
  --duration-slow: #{$duration * 1.5}s;
  --duration-normal: #{$duration}s;
  --duration-fast: #{math.div($duration, 2)}s;

  // Transitions
  --transition-quick: var(--duration-fast) cubic-bezier(0.25, 1, 0.5, 1);
  --transition-slow: var(--duration) cubic-bezier(0.25, 1, 0.5, 1);

  // Breakpoints
  --breakpoint-laptop: 93.75rem; /* Equivalent to 1500px */
  --breakpoint-tablet: 68.75rem; /* Equivalent to 1100px */
  --breakpoint-mobile: 46.25rem; /* Equivalent to 740px */

  // base
  --base-padding-mobile: 1.6rem;
  --base-padding-desktop: 2.6rem;
  --base-padding-large: 4.2rem;

  // Font Sizes
  --font-size-title: 1.25rem;
  --font-size-regular: 1rem;
  --font-size-1: 1.25rem;
  --font-size-2: 1.5625rem;
  --font-size-3: 1.95rem;
  --font-size-4: 2.44rem;
  --font-size-5: 3.05rem;
  --font-size-6: 3.81rem;
  --font-size-7: 4.76rem;
  --font-size-8: 5.96rem;
  --font-size-9: 7.45rem;
  --font-size-10: 9.31rem;
  --font-size-11: 11.64rem;
  --font-size-12: 14.55rem;
  --font-size-13: 18.18rem;

  /* spacing values */
  --space-unit: 1rem;
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --space-xxxxxl: calc(22.25 * var(--space-unit));
  --space-xxxxxxl: calc(35.75 * var(--space-unit));

  // grid
  --grid-gutter: 0rem;
  --grid-gutter-mobile: var(--space-sm);
}

html {
  line-height: 1.6;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-bitter);
  // font-family: var(--font-open);

  // tweak if site is light mode.
  // color-scheme: dark;
  // background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  transition: opacity var(--transition-quick);
  font-size: var(--font-size-regular);
}

// Firefox mobile scroll fix
html,
body {
  overscroll-behavior: none;
  overflow-x: hidden;
  width: 100%;
}

@supports (-moz-appearance: none) {
  body {
    scroll-behavior: auto;
  }
}

::selection {
  background-color: var(--color-blue);
  color: var(--color-white);
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// used in use-prevents-scroll hook

html.no-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
    touch-action: none;
  }
}

ol,
ul {
  list-style: inside;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

h2 {
  font-weight: 700;
  font-size: var(--font-size-regular);
}

/* Hide default cursor for all browsers */
html,
body {
  cursor: none !important;
}

* {
  cursor: none !important;
}

/* Show default cursor only for Safari */
@supports (-webkit-hyphens: none) and (-webkit-backdrop-filter: none) {
  html,
  body,
  * {
    cursor: auto !important;
  }
}

/* Show default cursor for mobile */
@media (width <= 768px) {
  html,
  body,
  * {
    cursor: auto !important;
  }
}
