.highlight {
  padding-top: var(--space-xl);
}

.firstInSection {
  padding-top: 0;
}

/* mobile and tablet  */
@media (width <= 68.75rem) {
  .firstInSection {
    padding-top: var(--space-sm);
  }
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title a {
  text-decoration: underline;
  text-decoration-color: var(--color-green-2);
  text-underline-offset: 0.3ex;
  text-decoration-thickness: 0.3ex;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.title a:hover {
  color: var(--color-green-2);
  text-decoration: none;
}

.description {
  font-size: var(--font-size-regular);
  text-wrap: balance;
  font-family: var(--font-bitter);
  color: var(--color-gray-lighter);
}

.description a {
  text-decoration: underline;
  text-decoration-color: var(--color-green-2);
  text-underline-offset: 0.2ex;
  text-decoration-thickness: 0.2ex;
}

.description a:hover {
  color: var(--color-green-2);
  text-decoration: none;
}
